/* Header */
header {
    background: #0d2438; /* Blu scuro, come il footer */
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 1.3rem; /* Leggermente più piccolo per contenere il testo lungo */
    margin: 0;
    font-weight: 700;
    color: #fff; /* Testo bianco */
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav a {
    text-decoration: none;
    color: #fff; /* Testo bianco */
    font-weight: 700;
    transition: color 0.3s;
    padding-bottom: 5px; /* Spazio per la linea sotto */
    border-bottom: 2px solid transparent; /* Linea trasparente di base */
}

header nav a:hover {
    color: #007BFF; /* Blu più chiaro al passaggio del mouse */
    border-bottom-color: #007BFF; /* La linea appare al passaggio del mouse */
    text-decoration: none;
}
